* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol, blockquote {
  margin-block: 1em;
  padding-inline-start: 40px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: x-large;
  font-weight: 500;
}


/* START HEADER */
header {
  display: flex;
  justify-content: space-around;
}

.open-source {
  display: flex;
  align-items: center;
  padding: 2px 10px;
}

.open-source a {
  color: #3d8bff;
  text-decoration: none;
}

.open-source a:hover {
  color: blue;
  text-decoration: none;
}

.opens {
  display: flex;
  align-items: center;
}

#logo {
  height: 150px;
  width: auto;
  padding: 2px;
}
/* ENDS HEADER */

/* START NAVBAR */
.navbar {
  background-color: whitesmoke;
  padding: 5px;
  
}


.nav-links {
  list-style: none;
  margin:5px 0;
  color: whitesmoke;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  justify-content: space-around;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}



.nav-links a {
  text-decoration: none;
  color:#3d8bff;
  font-weight: bold;
  transition: color 0.3s;
  font-size: xx-large;
}

.nav-links a:hover {
  color: blue;
}
/* ENDS NAVBAR */



/* START MAIN */
main {
  padding: 0px 20px;
  min-height: 80vh;
  display: block;
  max-width: 1500px;
  margin: 10px auto; /* centers horizontally */
  
}

main h1 {
  text-align: center;
  margin: 100px 0px;
}

.blur-box {
  border: blue  2px solid;
  background: whitesmoke; /* semi-transparent background */
  box-shadow: 0 1px 2px #3d8bff;
  border-radius: 12px;
  padding: 20px;
}

.blur-box h2 {
  padding: 1rem auto;
}

.blur-box ul {
  list-style: none;
}

.blur-box ul li {
  padding: 10px;
}
/* ENDS MAIN */


/* START FOOTER */
footer {
  text-align: center;
  border-top:#3d8bff  2px solid;
  font-weight: bold;
  padding: 8px;
  margin-top: 50px;
  font-size: medium;
}

footer .support {
  font-weight: bold;
}

footer .support a{  
  color: white;
  text-decoration: none;
  background: linear-gradient(180deg, #3d8bff, darkblue);
  border-radius: 4px;
  padding: 2px;
  font-size: small;
}
/* ENDS FOOTER */





/* Responsive: for tablets and below (≤ 768px) */
/* متجاوب: للأجهزة اللوحية وما دونها (≤ 768px) */

@media (max-width: 768px) {
  body {
    font-size: large;
  }

  header #logo {
    height: 100px;
  }

  .open-source {
  font-size: medium;
  }

  main h1 {
    margin: 75px auto;
  }

  .blur-box h2 {
  padding: 1rem 0.5rem;
  }

  .nav-links a {
  font-size: x-large;
  }

  footer {
  font-size: small;
  }

  footer .support a{  
    color: white;
    text-decoration: none;
    background: linear-gradient(180deg, #3d8bff, darkblue);
    border-radius: 4px;
    padding: 2px;
    font-size: x-small;
  }

}


/* Responsive: for phones (≤ 480px) */
/* متجاوب: للهواتف (≤ 480px) */

@media (max-width: 480px) {
 
}