* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {

  font-family: "Noto Kufi Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background:linear-gradient(180deg,#071023 0%, #07162a 100%);
  color: #e6eef6;

}

header {
  display: flex;
  justify-content: space-between;
}

.open-source {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.open-source a {
  color: #9aa6b2;
  text-decoration: none;
}

.opens {
  display: flex;
  align-items: center;
}

#logo {
  height: 100px;
  width: auto;
}


nav {
  border-top:#e6eef6  1px solid;
  border-bottom: #e6eef6 1px solid;
  background-color: #9aa6b2;
 
}


.nav-links {
  margin:5px 0;
  list-style: none;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  justify-content: space-around;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-links a {
  text-decoration: none;
  color:#071023;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 1.3rem;
}

.nav-links a:hover {
  color: #e6eef6;
}

main {
  padding: 20px;
  min-height: 80vh;
  display: block;
  max-width: 1200px;
  margin: 10px auto; /* centers horizontally */
}



main a {
  color: #7c3aed;
}

.blur-box {
  border:#7c3aed  1px solid;
  background: #0b1220; /* semi-transparent background */
  box-shadow: 0 1px 2px white;
  border-radius: 12px;
  padding: 20px;
}

footer {
  text-align: center;
  border-top:#9aa6b2  2px solid;
  
}

footer .support {
  font-size: xx-small;
  font-weight: bold;
  margin-bottom: 2px;
}

footer .support a{
  /* color: black;
  text-decoration: none;
  background: linear-gradient(180deg, #7b2a9f, #fdd82e);
  border-radius: 4px;
  padding: 0px; */
  
  color: white;
  text-decoration: none;
  background: linear-gradient(180deg, green, black);
  border-radius: 4px;
  padding: 1px;
  border: green solid 1px;
  
}


.mr {
  margin-right: 30px;
}